@import url("https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: #e8e8e8;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(0, 30, 255, 1);
}

.flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(0, 30, 255, 1);
}