@import url("https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --actionBlue-900: 29, 155, 240, 1;
        --actionOrange-900: 254, 91, 2, 1;
        --actionGreen-900: 0, 186, 124, 1;
        --actionPurple-900: 120, 86, 255, 1;
        --actionMagenta-900: 249, 24, 128, 1;
        --actionYellow-900: 255, 212, 0, 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: #e8e8e8;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ColorScheme */

html[data-color="Orange"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionOrange-900));
}

html[data-color="Orange"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionOrange-900));
}

html[data-color="Orange"] ::marker {
    color: rgba(var(--actionOrange-900));
}

html[data-color="Blue"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionBlue-900));
}

html[data-color="Blue"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionBlue-900));
}

html[data-color="Blue"] ::marker {
    color: rgba(var(--actionBlue-900));
}

html[data-color="Green"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionGreen-900));
}

html[data-color="Green"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionGreen-900));
}

html[data-color="Green"] ::marker {
    color: rgba(var(--actionGreen-900));
}

html[data-color="Purple"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionPurple-900));
}

html[data-color="Purple"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionPurple-900));
}

html[data-color="Purple"] ::marker {
    color: rgba(var(--actionPurple-900));
}

html[data-color="Magenta"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionMagenta-900));
}

html[data-color="Magenta"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionMagenta-900));
}

html[data-color="Magenta"] ::marker {
    color: rgba(var(--actionMagenta-900));
}

html[data-color="Yellow"] #flag-checkbox:not(:checked)~#german-flag .rect {
    stroke: rgba(var(--actionYellow-900));
}

html[data-color="Yellow"] #flag-checkbox:checked~#uk-flag .rect {
    stroke: rgba(var(--actionYellow-900));
}

html[data-color="Yellow"] ::marker {
    color: rgba(var(--actionYellow-900));
}